html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

body:before {
  content: '';
  position: absolute;
  top: 2vmin;
  left: 0;
  right: 0;
  height: 4vmin;
  background-image: url(images/heart-to.svg);
  background-size: auto 100%;
}

body:after {
  content: '';
  position: absolute;
  bottom: 2vmin;
  left: 0;
  right: 0;
  height: 4vmin;
  background-image: url(images/to-heart.svg);
  background-size: auto 100%;
}

.cover-image {
  width: 100vw;
  height: auto;
}

.links {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-item {
  margin: 2px;
}

.contact {
  margin-top: 20px;
  padding-bottom: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  margin-bottom: 10px;
}

.contact-item {
  margin: 2px;
}

@media (min-height: 400px) and (min-aspect-ratio: 7/4),
       (min-height: 600px) and (min-aspect-ratio: 9/6),
       (min-height: 800px) and (min-aspect-ratio: 11/8) {
  body {
    display: flex;
    flex-direction: row;
  }

  .cover {
    flex: 0 0 100vh;
  }
  .cover-image {
    width: auto;
    height: 100vh;
  }

  .meta {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    flex-grow: 1;
    justify-content: center;
    margin-top: 12vmin;
  }
}
